@mixin shadow {
  position: absolute;
  z-index: -1;
  background-color: rgba($color: #000, $alpha: .65);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin heroImage ($img) {
  position: relative;
  display: flex;
  align-items: center;
  
  text-align: center;
  z-index: -10;
  height: 25vh;
  background-image: url($img);
  background-size: cover;
  background-position: center;
}

@mixin sectionTitle {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}